.Game-center-text-container {
  position: absolute;
  top: 45%;
  left: 50%;
}

.Game-center-text {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.1em;

  color: #515151;
  left: -50%;
}

.Game-current-turn {
  font-weight: bold;
  color: #4081ff;
}

.Game-play-button-container {
  position: absolute;
  top: 60%;
  left: 50%;
}

.Game-play-button {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  background: #5aec26;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
  position: relative;
  left: -50%;
  transform: translateY(-50%);
  cursor: pointer;
}
