.Player-container {
  position: absolute;
}

.Player-body {
  position: relative;
  display: flex;
}

.Player-username-container {
  position: absolute;
}

.Player-username {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.1em;
}

.Player-team-a {
  color: #d869ff;
}

.Player-team-b {
  color: #4081ff;
}

.Card-body {
  height: inherit;
}

.Card-played-container {
  position: absolute;
}

.Card-container {
  position: absolute;
  height: inherit;
}
